@import url("https://acutewoof.is-a.dev/minimalist-css-kit/styles/main.css");
@import url("./nord.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

h1,
h2,
h3,
h4,
h5,
* {
  font-family: Rubik, Roboto, sans-serif;
  text-align: justify;
  box-shadow: none;
}

hr {
  border-color: var(--nord10);
  border-style: solid;
}

body {
  background-image: url("./wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  overflow: hidden;
}

.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.card {
  box-shadow: 0px 0px 0px var(--nord1);
  padding: 5%;
  margin: 0;
  height: 55vh;
  width: 55vw;
  max-height: 55vh;
  max-width: 55vw;
  background: none;
}

.icon-and-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.logo {
  height: 90%;
}

button.circular {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  box-shadow: none;
  text-align: center;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
}

button#yt {
  background-image: url("icons/youtube.png");
}

button#gh {
  background-image: url("icons/github.png");
}

button#dc {
  background-image: url("icons/discord.png");
}

main {
  width: fit-content;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #00000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: unset;
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
}

footer span {
  text-align: center;
}

a.button:hover {
  text-decoration: none;
  color: none;
  background-color: none;
}

.content-ultra-padding {
  padding-right: 20%;
}

.scroll {
  overflow: auto;
  height: 55vh;
  max-height: 55vh;
  max-width: 55vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.mobile {
  display: none;
}

footer a {
  text-decoration: none;
  color: var(--nord4);
}

footer span a:hover i {
  text-decoration: none;
  background-color: #00000000;
  color: var(--nord10);
}

footer a:hover {
  text-decoration: none;
  background-color: #00000000;
  color: var(--nord10);
}

.server-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
  width: 90vw;
}

.server {
  grid-gap: 10px;
  margin: 0;
  padding: 0;
}

.server div {
  text-align: center;
}

.server div h4 {
  text-align: center;
}

.server:hover * {
  color: var(--nord1);
}

.server:hover a {
  background-color: #00000000;
}

.server img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
  .icon-and-content {
    display: block;
  }
  .logo-container {
    display: none;
  }
  .mobile {
    display: block;
  }
  .logo {
    height: 30%;
  }
  .content-ultra-padding {
    padding: 0;
  }
  body {
    overflow: auto;
  }
  .card {
    height: 90vh;
    width: 90vw;
    max-height: 90vh;
    max-width: 90vw;
    text-align: center;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  * {
    text-align: center;
  }
  .scroll {
    max-width: 90vw;
    overflow: auto;
  }
  footer {
    grid-gap: 0.5rem;
  }
  .desktop {
    display: none;
  }
  footer {
    max-height: 20vh;
  }
  .container {
    height: 80vh;
  }
  .spotify {
    height: 90%;
    width: 80%;
  }
}
