@charset "utf-8";

@font-face {
  font-family: "Minecraft";
  src: url("MinecraftRegular-Bmg3.otf");
}

@font-face {
  font-family: "Segoe Script";
  src: url("segoesc.ttf");
}

@font-face {
  font-family: "Segoe UI";
  src: url("Segoe-UI.ttf");
}

html {
  scroll-behavior: smooth;
}

header {
  z-index: 100;
  font-family: "Segoe ui";
  color: #73d1c8;
  background-color: rgba(32, 41, 46, 0.36);
  text-align: right;
  padding-right: 30px;
  position: sticky;
  top: 0px;
}

footer {
  font-family: "segoe ui";
  color: #73d1c8;
  background-color: #20292e;
  text-align: right;
  padding-right: 30px;
}

h1 {
  font-family: "segoe script";
  font-size: 10vw;
  color: #82aaff;
  text-align: center;
  line-height: 0.5;
}

h2 {
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
  color: #dcac59;
  font-weight: 200;
  text-align: center;
}

body {
  font-family: "Segoe UI";
  color: whitesmoke;
  background-color: #263238;
  background-size: cover;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-position: center;
}

a {
  font-size: 20px;
  color: inherit;
  line-height: 2;
  text-decoration: none;
}

div {
  width: fit-content;
  min-width: 100%;
  margin: 0;
}

mc_text {
  font-family: "Minecraft";
  color: green;
  font-size: 7vw;
}

cat_head_text {
  font-family: "montserrat";
  font-weight: 400;
  font-size: 6vw;
  color: #73d1c8;
}

.pr_content {
  padding: 1vw 1vw 1vw 1vw;
}

.mc_mod {
  display: flexbox;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin: 20px;
  width: 200;
  height: 200;
}

.intro {
  background-image: url("bg.png");
  background-size: cover;
  height: 100%;
  min-height: 40vw;
  width: fit-content;
  min-width: 100%;
  padding-top: 80px;
  padding-bottom: 20vh;
  margin: 0;
  position: relative;
  transform: translate3d(0px, -2px, 0px);
  transition: all 700ms ease 0s;
}

.mc_div {
  text-align: center;
  background-image: url("bg_mc.png");
  background-size: cover;
  height: fit-content;
  min-height: 100%;
  width: fit-content;
  min-width: 100%;
  padding-top: 80px;
}

.project_portfolio {
  display: block;
  text-align: center;
  background-color: #263238;
  background-size: cover;
  height: fit-content;
  min-height: 40vw;
  width: fit-content;
  min-width: 100%;
  padding-top: 20vh;
}

/* .project_portfolio:hover {
  display: block;
  text-align: center;
  background-color: #263238;
  background-size: cover;
  height: fit-content;
  min-height: 40vw;
  width: fit-content;
  min-width: 100%;
  transform: translate3d(0px, -15px, 0px);
  transition: all 700ms ease 0s;
} */

.info {
  color: #a7e2ff;
}

.h_text:hover {
  color: #30fde9;
  transition: all 400ms ease 0s;
}

.code {
  font-family: "cascadia code";
  margin-left: 80px;
  margin-right: 80px;
  border: 0px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 15vw;
  }
  h2 {
    font-size: 5vw;
  }
  mc_text {
    font-size: 450%;
  }
  mc_text_s {
    font-size: 150%;
  }
  .mc_mod {
    height: 65%;
    width: 65%;
  }

  .intro {
    height: fit-content;
    padding-bottom: 10vh;
    width: 100vw;
  }

  .project_portfolio {
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    padding-top: 10vh;
  }
}
