:root {
  font-size: 16px;
  font-family: monospace;
  --bg: #2e3440;
  --fg: #eceff4;
  --heading: #d08770;
  --url-hover: #81a1c1;
  --url-clicked: #81a1c1;
}

* {
  text-align: justify;
}

body {
  background: var(--bg);
  color: var(--fg);
  margin: 2vw;
}

h1 {
  text-align: center;
  color: var(--heading);
  margin: 3rem;
  text-transform: uppercase;
}

a {
  color: var(--fg);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--url-hover);
}

a:active {
  color: var(--url-clicked);
}

li {
  margin: 1rem;
  list-style: none;
}
