@import url("fonts.css");

:root{
  font-size: 16px;
  --bg: #2e3440;
  --fg: #eceff4;
  --btn-clr: #3b4252; 
}

/* global styles */

body{
  background-image: url("../static/images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Fira Code";
}

div{
  color: var(--fg);
  transition: all 500ms;
}

div :hover{
  box-shadow: 0 0 1em #5e81ac;
}

/* global styles end */

img.pfp{
  border-radius: 50%;
  height: 40vh;
  width: 40vh;

  position: absolute;
  top: 50%;
  left: 50%;

  transition: all 500ms;
  transform: translate(-50%, -50%);
}

img.pfp :hover{
  box-shadow: 0 0 50px #5e81ac;
}

/* cards */

div.card-top-left{
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  background-color: var(--btn-clr);
  padding: 1vh;
}

div.card-top-right{
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  right: 25vw;
  background-color: var(--btn-clr);
  padding: 1vh;
}

div.card-bottom-left{
  border-radius: 5px;
  position: absolute;
  bottom: 25vh;
  left: 25vw;
  background-color: var(--btn-clr);
  padding: 1vh;
}

div.card-bottom-right{
  border-radius: 5px;
  position: absolute;
  bottom: 25vh;
  right: 25vw;
  background-color: var(--btn-clr);
  padding: 1vh;
}

/* end cards */


/* content placeholders */

div.place-holder div{
  opacity: 0;
  transition: all 500ms ease-in-out;
}

section.contents{
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: all 500ms ease-in-out;

  border-color: var(--btn-clr);
  border-radius: 50%;
  background-color: var(--bg);

  height: 40vh;
  width: 40vh;


  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.contents div{
  opacity: 1;
  height: fit-content;
  height: -moz-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  max-height: 100%;
  max-width: 100%;
}

section.contents div:hover{
  box-shadow: none;
}

/* end content placeholders */