@import url("nord.css");
@import url("curves.css");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

:root {
  font-size: 24px;
  --blob-size: 30vw;
  --blob-gap: 10vw;
}

html {
  background: var(--nord0);
  scroll-behavior: smooth;
}

body {
  background: var(--nord0);
  color: var(--nord6);
  margin: 0;
  font-family: "Cantarell", sans-serif;
}

section {
  position: relative;
}

h1 {
  font-size: 64px;
}

.main {
  background: var(--nord1);
  padding: 5%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.main1 {
  background: url("../svgs/blob-scene-haikei.svg");
  background-size: cover;
  background-repeat: none;
  padding: 1rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.main1 h1 {
  text-align: center;
}

.main1 div {
  text-align: center;
}

.main1 #projects {
  display: grid;
  grid-gap: var(--blob-gap);
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(420px, 1fr));
}

.main1 #projects div * {
  word-wrap: wrap;
}

.blob-wrapper {
  padding: 1rem;
}

.blob {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: var(--nord11);
  transition: 300ms ease-in-out;
}

.blob:hover {
  background-color: var(--nord15);
}

.blob:active {
  background-color: var(--nord14);
}

.blob * {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

p {
  font-size: 20px;
  font-family: monospace, monospace;
}

button {
  margin: 0 0 0 20px;
  background: var(--nord14);
  color: white;
  border: 0;
  padding: 10px 30px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  &:hover {
    background: #17aa8d;
    cursor: pointer;
  }
}
