@import url("doclist.css");

:root{
	--code-bg: #15161a;
}

img {
	max-width: 100vw;
	max-height: 100vh;
}

body {
    font-family: sans-serif;
}

h1 {
	text-transform: unset;
}

pre{
	margin-top: 3rem;
	margin-bottom: 3rem;
	background: var(--code-bg);
	padding: 1rem;
	border-radius: 5px;
}

code {
	font-family: monospace;
	
}

a {
	text-decoration: underline;
	color: var(--url-clicked);
}
